<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="takattoFS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <userSettings>
        <takattoFS2.Properties.Settings>
            <setting name="JukeboxEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameLogCleannerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebLoginSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServiceConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPlayMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoMode_Size" serializeAs="String">
                <value>1800,1000</value>
            </setting>
            <setting name="RenderQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CustomSettingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MCVoiceTweak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CharVoiceTweak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AFKEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AFKInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CustomTextureTweak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomFontEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommandLineCode" serializeAs="String">
                <value>shutdown -s -f -t 5</value>
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GameUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="GameUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamLauncherMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UILanguage" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="PatcherWorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="PatcherLastTab" serializeAs="String">
                <value />
            </setting>
            <setting name="PatcherExtCredentials" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreSettingFromOldAssembly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewSkipList" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="KeyboardShortcut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseLauncherAlso" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomInterfaceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UICustomLaunchOption" serializeAs="String">
                <value />
            </setting>
            <setting name="CourtSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadingBgCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextMacroData" serializeAs="String">
                <value>brb	be right back
ttyl	talk to u later
gtg	gotta go
smh	smh my head
rip	RIP in peace
gg	gg noobs ez clap
usuck	If I wanted to commit suicide, I'd jump from your ego to your elo
urmom	Your mom so fat Thanos had to snap twice
eventgkash	Unable to purchase with event Gkash
fs2dev	Our Team will not let this pass nor tolerate this kind of Illegal Activity in-game
violet	Violet from team Arcana I love you. I truly love you, you fill the void in my heart and stop the pain
zeeman	Hi your komputar has virus
takatto	Remember to keep the chats respectful and to follow our Community guidelines
censor	********
uok	You haven't violated any community standards in last few weeks, are you ok?
oggway	Yesterday is history, Tomorrow is a mystery, but today is a gift. That is why it is called the present.
mtherfker Your mother is what we called a shared resource
s3x	Add sex to fs2 :pray:
uwu	Don't you fucking uwus on me</value>
            </setting>
            <setting name="TextMacroEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomPatchRepository" serializeAs="String">
                <value />
            </setting>
        </takattoFS2.Properties.Settings>
    </userSettings>
</configuration>
